@model IEnumerable<WebSecurity_Assessment.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach(var item in Model){
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">@Html.Raw(item.Author)</div>
  <div class="card-body">
    <p class="card-text">@Html.Raw(item.Text)</p>
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
  </div>
</div>
}
